#artist-overview {
  height: 10em;
}

#artist-img-wrapper {
  margin: 0 1em 1em 0;
}

#artist-picture {
  width: 12em;
  border-radius: 50%;
}

button.follow-btn {
  background-color: #ff6e00;
  color: white;
}
