#mainContent {
  min-height: 80vh;
  background-color: whitesmoke;
}

#mainContent .row {
  padding: 0 3em;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.like-btn {
  min-width: 120px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.landing {
  background-color: white;
  min-height: 80vh;
  margin-right: 6.5em;
  margin-left: 6.5em;
}
