.button-wrapper {
  text-align: center;
}

div > h4 {
  text-align: center;
  color: #7c7d80;
}

.auth-link {
  text-align: center;
  color: #7c7d80;
}

.auth-link:hover {
  cursor: pointer;
}

button.btn-auth {
  background-color: #ff6e00;
  color: white;
}
